h1= title
if info !== undefined && info != ''
        .alert.alert-info
                button.close(data-dismiss='alert') x
                h4.alert-header Congratulations!
                #{info}
p Welcome to #{title}
a(href='request') Request a license
