h1= title
form.form-horizontal.well(method='post', action='/request')
        .control-group
                label(for='request[product]').control-label Product:
                .controls
                        select(name='request[product]')
                                each product in products
                                        option #{product}
        .control-group
                label(for='request[purpose]').control-label Purpose:
                .controls
                        select(name='request[purpose]')
                                each purpose in purposes
                                        option #{purpose}
        .control-group
                label(for='request[comment]').control-label Comment:
                .controls
                        textarea(name='request[comment]')
        .form-actions
                button.btn.btn-primary Send
                a(href='/').btn Cancel
